BROWSER=none

# Desarrollo local:
REACT_APP_FRONTEND_DOMAIN_HOST=http://localhost:5000
REACT_APP_BACKEND_DOMAIN_HOST=http://localhost:3032
# Producción:
# REACT_APP_FRONTEND_DOMAIN_HOST=https://dashboard.activafitness.com.ar
# REACT_APP_BACKEND_DOMAIN_HOST=https://activafitness.com.ar
