# Variables de entorno para Docker Compose

# MySQL
MYSQL_ROOT_PASSWORD=
DATABASE_NAME=gimnasio_activa
DATABASE_USER=
DATABASE_PASSWORD=

# GitHub Personal Access Token (usado por CI/CD en el workflow de deploy)
GITHUB_PAT=
