.main-footer {
  width: 100%;
  background-color: #1b1b1b;
  color: #ffffff;
  padding: 2rem 0;
  position: relative;
}

.links {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding: 1rem 2rem;
  flex-wrap: wrap;
}

.logo-footer {
  width: 10vw;
}

.lista-footer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 16px;
  color: #dddddd;
}

.lista-footer li {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.lista-footer a {
  color: #dddddd;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s;
}

.lista-footer a:hover {
  color: #ffffff;
}

.Title-social {
  color: #ffffff;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 0.5rem;
}

.icons-footer {
  display: flex;
  flex-direction: column;
}

.icons-footer a {
  color: #dddddd;
  font-size: 20px;
  margin-top: 0.5rem;
  transition: color 0.3s;
}

.icons-footer a:hover {
  color: #ffffff;
}

.mover {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.btn-wsp {
  position: fixed;
  width: 55px;
  height: 55px;
  bottom: 30px;
  right: 30px;
  background-color: #0df053;
  color: white;
  border-radius: 50%;
  text-align: center;
  font-size: 40px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
  z-index: 100;
  transition: 0.3s;
}

.btn-wsp:hover {
  background-color: white;
  color: #0df053;
}

.content {
  width: 100%;
}

.contact-location {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.contact-location li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #dddddd;
}

.contact-location p {
  font-size: 16px;
  margin: 0;
}

.contact-location i {
  color: #dddddd;
}

.contact-location li:hover i {
  color: #ffffff;
  cursor: pointer;
}

/* NUEVO BLOQUE PARA CENTRALIZAR EL ÍCONO DE ACCESO */
.admin-access-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.admin-access {
  color: #888;
  font-size: 20px;
  transition: color 0.3s;
}

.admin-access:hover {
  color: #ffffff;
  cursor: pointer;
}

@media (max-width: 769px) {
  .links {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
  }

  .logo-footer {
    width: 40vw;
  }

  .lista-footer {
    align-items: center;
    text-align: center;
  }

  .icons-footer {
    align-items: center;
  }

  .contact-location {
    align-items: center;
    text-align: center;
  }

  .admin-access {
    font-size: 18px;
  }
}

