*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: none;
}

body{
    background-color: #000000;
}
#header-dashboard{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#header-dashboard a{
    padding: 12px;
    color: white;
    background-color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: 700;
    border-radius: 5px;
    margin: 0.3rem;
}
#header-dashboard a:hover{
    padding: 12px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    transition-property: background-color color;
    transition-duration: 0.3s;
}
.logo-image{
    width: 7rem;
}
.title-products{
    padding-top: 0.5rem;
    font-size: 14px;
    padding-bottom: 0.5rem;
    font-weight: bolder;
    text-decoration: underline black;
}
.game-image{
    width: 10rem;
    height: 14rem;
    display: flex;
    margin: auto;
}
.container-products{
    text-align: center;
    background-color: rgb(0, 0, 0);
    border-top: solid 3px rgb(255, 255, 255);
    width: 100%;
    margin: auto;
}
.list-container{
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.list-container li{
    list-style: none;
}
.box-title{
    color: #ffffff;
    font-size: 22px;
    padding-top: 1.5rem;
    font-weight: bolder;
}
.user-image{
    margin-top: 0.5rem;
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
}
.h3-user{
    color: #ffffff;
}
h3, h4{
    padding-top: 0.5rem;
    color: white;
    font-size: 18px;
}
h6{
    text-align: left;
}
.header-a{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.category-filter, .category-name{
    color: white;
}
.mover_abajo {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    padding: 1rem;
}
.btn {
    width: auto;
  
  }
@media screen and (min-width: 1240px) {
    .title-products{
        font-size: 18px;
    }
}

    .flotante {
      display: flex;
      position: fixed;
      
      bottom: 0px;
      left: 0px;
      right: 0px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      background-color: #2e2e2e;
      justify-content: center;
    }

@media (prefers-color-scheme: dark) {
  :root {
    --border-color: #4b5563;   /* gray-600 */
    --bg-color: #1f2937;       /* gray-800 */
    --text-color: #e5e7eb;     /* gray-200 */
    --link-bg-color: #374151;  /* gray-700 */
    --hover-color: #ffffff;
  }
}


.breadcrumb {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 14px;
  color: var(--text-color);
  list-style: none;
  padding: 0;
  margin: 0;
}

.breadcrumb-item {
  display: flex;
  align-items: center;

}

.breadcrumb-link {
  text-decoration: none;
  color: white;
  transition: color 0.2s;
  display: block;
}


.breadcrumb-link:hover {
  color: blue;
}


.breadcrumb-separator {
  display: flex;
  align-items: center;
}

.breadcrumb-icon {
  width: 16px;
  height: 16px;
}

html[dir="rtl"] .breadcrumb-icon {
  transform: rotate(180deg);
}