
.flotante {
    display: flex;
    position: fixed;
    color: white;    
    font-size: 14px;

    bottom: 0px;
    left: 0px;
    right: 0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #2e2e2e;
    justify-content: space-between;
}

.texto_redireccion {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 14px;
  color: var(--text-color);
  list-style: none;
  padding: 0;
    padding-right: 2rem;

  margin: 0;
}

.texto_redireccion-item {
  display: flex;
  align-items: center;

}

.texto_redireccion-link {
  text-decoration: none;
  color: white;
  transition: color 0.2s;
  display: block;
}


.texto_redireccion-link:hover {
  color: blue;
}


.texto_redireccion-separator {
  display: flex;
  align-items: center;
}

.texto_redireccion-icon {
  width: 16px;
  height: 16px;
}

html[dir="rtl"] .texto_redireccion-icon {
  transform: rotate(180deg);
}