.reserva-card {
  background-color: #111;
  border: 1px solid #444;
  border-radius: 12px;
  margin: 1rem auto;
  max-width: 700px;
  padding: 1rem;
  box-shadow: 0 0 12px rgba(255, 255, 255, 0.05);
  color: white;
}

/* Tabla de resumen */
.reserva-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1rem;
}

.reserva-table tbody{
  border-bottom: 1px solid #ffffff;
}

.reserva-table td {
  padding: 10px 12px;
  border: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}

.reserva-table .label {
  font-weight: bold;
  background-color: #1a1a1a;
  color: white;
  width: 40%;
}

.reserva-table tr:last-child td {
  border-bottom: none;
}

.detalle-producto {
  background-color: #000;
  border: 1px solid #333;
  padding: 1rem;
  margin-bottom: 0.5rem;
  border-radius: 8px;
}

.detalle-producto p {
  margin: 4px 0;
  color: #fff;
}

.estado-botones {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.btn {
  padding: 0.5rem 1.2rem;
  font-size: 14px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.btn-confirmar {
  background-color: #2ecc71;
  color: #fff;
}

.btn-cancelar {
  background-color: #e74c3c;
  color: white;
}

.btn:hover {
  opacity: 0.85;
}

/* Responsive */
@media (max-width: 425px) {
  .reserva-card {
    margin: 0.5rem;
    padding: 0.8rem;
  }

  .reserva-table td {
    font-size: 14px;
    padding: 8px 10px;
  }

  .detalle-producto {
    font-size: 14px;
  }

  .btn {
    width: 100%;
    text-align: center;
    margin-top: 0.5rem;
  }

  .estado-botones {
    flex-direction: column;
    align-items: stretch;
  }
}


@media (min-width: 1024px) {
  .detalle-producto {
    display: block;
    background-color: #111;
    border: 1px solid white;
    border-radius: 8px;
    padding: 1rem;
    font-size: 15px;
    margin-top: 1rem;
  }
}

@media (min-width: 1440px) {
    .reserva-card {
        max-width: 900px;
        padding: 1.5rem;
    }
  .reserva-table td {
    font-size: 18px;
    padding: 18px 24px;
  }

  .detalle-producto {
    display: block;
    background-color: #111;
    border: 1px solid white;
    border-radius: 8px;
    padding: 1.4rem;
    font-size: 16px;
    margin-top: 1rem;
  }

  .btn {
    font-size: 16px;
    padding: 0.8rem 2rem;
  }
}
