/* reutilizable */
.mainLienzo {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    background-image: url('/images/Lienzo01vero.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.12);
}