main{
    background-color: #ebebeb;
    padding-top: 3vh;
}

.container-image{
    width: 24rem;
    margin: auto;
    height: 24rem;
}
.img-juego{
    width: 100%;
    height: 100%;
}
.modificar{
    display: flex;
}
.container-allMain{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.productos{
    max-width: 280px;
    display: flex;
    flex-flow: column;
    border-radius: 6px;
    box-shadow: 0 0 0.1rem #848484;
    background-color: rgb(255 255 255 / 93%);
    cursor: pointer;
    margin: 1rem;
}
.titulo{
    display: flex;
    padding: 2rem 3rem 0;
    align-items: center;
    justify-content: space-between;
}
.productos:hover{
    box-shadow: 2px 0px 3px #848484;
    transition-property: box-shadow;
    transition-duration: 0.3s;
}
.productos img{
    width: 100%;
    height: 100%;
    /*object-fit: cover;*/
}
.productos picture{
    width: 15rem;
    height: 20rem;
}
.informacion{
    border-top: 1px solid #ccc;
    padding: 1em;
    display: flex;
    flex-flow: column;
}

.tipo-envio {
    background-color: #000000;
    color: #fff;
    font-weight: 600;
    text-align: center;
    border-radius: 2px;
}

.container-prices{
    display: flex;
    align-items: center;
    margin-top: 1rem;
}


.precio-ahora {
    color: #000000db;
    font-size: 1.5rem;
    font-weight: 600;
}
.name-product{
    display: block;
    color: #0a0a0a;
    font-weight: 800;
}
.tipo-entrega{
    display: block;
    color: #6d6c70;
    font-weight: 500;
    margin-top: 1rem;
    opacity: 0.8;
}
.productos:hover .name-product,
.productos:hover .tipo-entrega{
    display: block;
    transition-duration: 20s;
    transition-property: display;
}
.botones{
    border-bottom:solid 1px #ffffff6e ;
    display: flex;
    justify-content: space-evenly;
    background-color: #0e0e0e;
}

.botones a{
    text-align: center;
    color: var(--whiteLetter);
    background-color: #0e0e0e
}
.botones form{
    text-align: center;
    width: 30%;
    padding: 1rem;
}
.borrarBorde{
    background-color: #0e0e0e;
}
.botones button{
    font-size: 1rem;
    cursor: pointer;
}
.botones a:hover{
    color: rgb(255, 255, 255);
    transition: color 0.5s ;
}
a.eliminar:hover {
    color: red;
    transition: color 0.5s;
}
.crear-editar{
    margin: auto;
    padding: 1rem;
}
