body {
  margin: 0;
  padding: 0;
  background-color: transparent;
}

#recetas {
  padding: 0.5rem 1rem 0.2rem 1rem;
  border-bottom: 1px solid rgb(55, 55, 55);
  margin: 0;
  width: 90%;
}

#recetas h2 {
  font-size: 16px;
  text-align: center;
  margin: 0;
}

.recetas_subidas {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.5rem;
}

.titulo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titulo h3 {
  padding-top: 0.5rem;
  font-size: 18px;
  margin: 0;
  color: white;
}

.titulo p {
  margin: 0;
  color: white;
}

.moverlo {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding: 1rem;
  max-width: 95vw;
  justify-content: center;
}

.card {
  width: 100%;
  max-width: 12rem;
  padding: 0.4rem;
  border: 1px solid white;
  background-color: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(3px);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 10px;
}

.card-title {
  font-size: 13px;
  margin-bottom: 0.4rem;
  color: white;
}

.card-body {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
}

.card-img-top {
  width: 100%;
  height: auto;
  border-radius: 6px;
}

.btn-primary {
  width: 100%;
  font-size: 12px;
  color: white;
  background-color: rgba(255, 255, 255, 0.12);
  border: 1px solid white;
  border-radius: 6px;
  padding: 6px 10px;
  font-weight: 500;
  text-decoration: none;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.consultar {
  margin-top: 1.5rem;
}

.consultar a {
  display: inline-block;
  text-decoration: none;
  color: white;
  background-color: rgba(255, 255, 255, 0.12);
  border: 1px solid white;
  padding: 6px 10px;
  font-weight: 500;
  border-radius: 6px;
  backdrop-filter: blur(3px);
  font-size: 13px;
  transition: background-color 0.3s ease;
}

.consultar a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

/* RESPONSIVE */
@media screen and (max-width: 1200px) {
  .moverlo {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .moverlo {
    grid-template-columns: repeat(2, 1fr);
  }

  .card {
    max-width: 12rem;
  }
}

@media screen and (max-width: 480px) {
  .moverlo {
    grid-template-columns: 1fr;
  }
}

/* LECTOR */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}