.main-reserva-detail{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 1rem 0px;
    padding: 2rem;
    background-color: black;
    color: white;
}

.ul-reserva-detail{
    padding: 0px;
}


.header-cart{
    padding: 2rem;
    font-size: 2rem;
    font-family: Arial, sans-serif;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.contenedor-compras {
    min-width: 30%;
    display: flex;
    margin: auto;
    padding: 2rem;
    background-color: #f8fafc;
    border-radius: 12px;
    font-family: Arial, sans-serif;
    flex-direction: column;
}

.contenedor-compras h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #2d3748;
}

.compra {
    background-color: #edf2f7;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
}

.compra p {
    margin: 5px 0;
    color: #4a5568;
}