<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head.ejs') %>
        <link rel="stylesheet" href="/css/recetas.css">
    </head>

    <body>
        <%- include('./partials/header.ejs') %>

        <main class="mainRecetas">

            <section id="recetas">
                <h2>Recetas</h2>
            </section>

            <section class="recetas_subidas">
                <div class="titulo">
                    <h4>Ideas para cocinar</h4>
                    <p>Te brindamos algunas recetas útiles para tu alimentacion</p>
                </div>
                <section class="moverlo">
                    <div class="card" style="width: 18rem;">
                        <h5 class="card-title">Ganancia de Masa</h5>
                        <div class="card-body">
                            <img src="/images/masaMusculas.jpg" class="card-img-top" alt="Abdominales">
                            <div class="moverlo">
                            </div>
                            <a href="#" class="btn-primary">Ver</a>
                        </div>
                        
                    </div>
                    <div class="card" style="width: 18rem;">
                        <h5 class="card-title">Veganas</h5>
                        <div class="card-body">
                            <img src="/images/veganos.jpg" class="card-img-top" alt="Pecho">
                            <div class="moverlo">
                            </div>
                            <a href="#" class="btn-primary">Ver</a>
                        </div>
                        
                    </div>
                    <div class="card" style="width: 18rem;">
                        <h5 class="card-title">Perdida de Peso</h5>
                        <div class="card-body">
                            <img src="/images/perdidaPeso.jpg" class="card-img-top" alt="Biceps">
                            <div class="moverlo">
                            </div>
                            <a href="#" class="btn-primary">Ver</a>
                        </div>
                        
                    </div>
                    <div class="card" style="width: 18rem;">
                        <h5 class="card-title">Definicion</h5>
                        <div class="card-body">
                            <img src="/images/definicion.jpg" class="card-img-top" alt="Hombros">
                            <div class="moverlo">
                            </div>
                            <a href="#" class="btn-primary">Ver</a>
                        </div>
                        
                    </div>
                    <div class="card" style="width: 18rem;">
                        <h5 class="card-title">Sin Gluten</h5>
                        <div class="card-body">
                            <img src="/images/sinGluten.jpg" class="card-img-top" alt="Espalda">
                            <div class="moverlo">
                            </div>
                            <a href="#" class="btn-primary">Ver</a>
                        </div>
                        
                    </div>
                    <div class="card" style="width: 18rem;">
                        <h5 class="card-title">Rapidas y Faciles</h5>
                        <div class="card-body">
                            <img src="/images/comidaRapida.jpg" class="card-img-top" alt="Triceps">
                            <div class="moverlo">
                            </div>
                            <a href="#" class="btn-primary">Ver</a>
                        </div>
                        
                    </div>
                </section>
                    
                    <div class="consultar">
                        <a href="https://api.whatsapp.com/send?phone=5491166601356">Consulta a tu asesor</a>
                    </div>
                </section>

        </main>
</body>
<footer class="main-footer">
    <%- include('./partials/footer.ejs') %>
</footer>
</html>