<!DOCTYPE html>
<html lang="en">

    <head>
        <%- include('./partials/head.ejs') %>
        <link rel="stylesheet" href="/css/rutinas.css">
        <link rel="stylesheet" href="/css/footer.css">
    </head>

    <body>
        <%- include('./partials/header.ejs') %>

        <main class="mainRutinas">
            
            <section id="rutina">
                <h2>Rutinas</h2>
            </section>

            <section class="rutinas_subidas">
                <div class="titulo">
                    <h4>¿Queres ideas para tu entrenamiento?</h4>
                    <p>Guia para cada grupo muscular</p>
                </div>
                <section class="moverlo">
                  <div class="card">
                    <h5 class="card-title">Abdominales</h5>
                    <div class="card-body">
                      <img src="/images/abs.png" class="card-img-top" alt="Abdominales">
                      <div class="boton">
                        <a href="#" class="btn-primary">Ver</a>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <h5 class="card-title">Pecho</h5>
                    <div class="card-body">
                      <img src="/images/pecho.png" class="card-img-top" alt="Pecho">
                      <div class="boton">
                        <a href="#" class="btn-primary">Ver</a>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <h5 class="card-title">Biceps</h5>
                    <div class="card-body">
                      <img src="/images/biceps.png" class="card-img-top" alt="Biceps">
                      <div class="boton">
                        <a href="#" class="btn-primary">Ver</a>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <h5 class="card-title">Hombros</h5>
                    <div class="card-body">
                      <img src="/images/hombros.png" class="card-img-top" alt="Hombros">
                      <div class="boton">
                        <a href="#" class="btn-primary">Ver</a>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <h5 class="card-title">Espalda</h5>
                    <div class="card-body">
                      <img src="/images/espalda.png" class="card-img-top" alt="Espalda">
                      <div class="boton">
                        <a href="#" class="btn-primary">Ver</a>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <h5 class="card-title">Triceps</h5>
                    <div class="card-body">
                      <img src="/images/triceps.png" class="card-img-top" alt="Triceps">
                      <div class="boton">
                        <a href="#" class="btn-primary">Ver</a>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <h5 class="card-title">Femorales</h5>
                    <div class="card-body">
                      <img src="/images/femorales.jpg" class="card-img-top" alt="Femorales">
                      <div class="boton">
                        <a href="#" class="btn-primary">Ver</a>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <h5 class="card-title">Gluteos</h5>
                    <div class="card-body">
                      <img src="/images/gluteos.jpg" class="card-img-top" alt="Gluteos">
                      <div class="boton">
                        <a href="#" class="btn-primary">Ver</a>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <h5 class="card-title">Cuadriceps</h5>
                    <div class="card-body">
                      <img src="/images/cuadriceps.png" class="card-img-top" alt="Cuadriceps">
                    </div>
                    <div class="boton">
                      <a href="#" class="btn-primary">Ver</a>
                    </div>
                  </div>
                </section>
                  
                <div class="consultar">
                    <a href="https://api.whatsapp.com/send?phone=5491166601356">Consulta a tu asesor</a>
                </div>
            </section>
        </main>
    </body>
    <footer class="main-footer">
        <%- include('./partials/footer.ejs') %>
    </footer>
</html>