<footer class="main-footer">
  <div class="content">
    <div class="links">
      <div class="logo-footer-container">
        <!--
        <a href="/">
          <img src="/images/logo.png" alt="Juegos" class="logo-footer" />
        </a>
        -->
        <ul class="contact-location">
          <li>
            <i class="fa-solid fa-phone-flip"></i>
            <p>11-6660-13561</p>
          </li>
          <li>
            <i class="fa-solid fa-envelope"></i>
            <p>activafitness@hotmail.com</p>
          </li>
          <li>
            <i class="fa-solid fa-location-dot"></i>
            <p>Esmeralda 1340, Temperley, Provincia de Buenos Aires</p>
          </li>
        </ul>
      </div>

      <ul class="lista-footer">
        <li>
          <a href="/terminos">Términos y condiciones</a>
        </li>
        <li>
          <a href="https://api.whatsapp.com/send?phone=5491166601356" target="_blank">Contacto</a>
        </li>
        <li>
          <a href="/politicaPrivacidad">Política de privacidad</a>
        </li>
      </ul>

      <div class="icons-footer">
        <p class="Title-social">Redes Sociales</p>
        <section class="mover">
          <a href="https://www.instagram.com/activa.fitness_/" target="_blank" class="fa-brands fa-instagram"></a>
          <a href="https://www.facebook.com/" target="_blank" class="fa-brands fa-facebook"></a>
        </section>
      </div>
    </div>
  </div>

  <!-- Ícono discreto para ingresar al sistema de gestión -->
  <div class="admin-access-wrapper">
    <a href="/admin/index.html" class="admin-access" title="Acceso restringido">
      <i class="fa-solid fa-gear"></i>
    </a>
  </div>
</footer>
