<footer class="main-footer">
  <div class="content">
    <div class="links">
      <div class="logo-footer-container">
        <!--
        <a href="/">
          <img src="/images/logo.png" alt="Juegos" class="logo-footer" />
        </a>
        -->
        <ul class="contact-location">
          <li>
            <i class="fa-solid fa-phone-flip"></i>
            <p>11-6660-13561</p>
          </li>
          <li>
            <i class="fa-solid fa-envelope"></i>
            <p>activafitness@hotmail.com</p>
          </li>
          <li>
            <i class="fa-solid fa-location-dot" title="ActivaFitness"></i>
            <a href="https://www.google.com/maps/place/Activa+Fitness/@-34.7648863,-58.3810669,19.5z/data=!4m6!3m5!1s0x95bcd2c10f71fb7f:0xdfe8ecf5e5dd18b9!8m2!3d-34.7648439!4d-58.3810378!16s%2Fg%2F11fy9hdt08?entry=ttu&g_ep=EgoyMDI1MDUyMS4wIKXMDSoJLDEwMjExNDUzSAFQAw%3D%3D" target="_blank">Esmeralda 1340, Temperley, Provincia de Buenos Aires</a>
            

          </li>
        </ul>
      </div>

      <ul class="lista-footer">
        <li>
          <a href="/docs/TerminosYCondiciones.pdf" target="_blank" title="Terminos y Condiciones">Términos y condiciones de uso </a>
        </li>
        <li>
          <a href="https://api.whatsapp.com/send?phone=5491166601356" target="_blank" title="Contacto">Contacto</a>
        </li>
        <li>
          <a href="/docs/PoliticasdePrivacidad.pdf" target="_blank" title="Politica de Privacidad">Política de privacidad</a>
        </li>
      </ul>

      <div class="icons-footer">
        <p class="Title-social">Redes Sociales</p>
        <section class="mover">
          <a href="https://www.instagram.com/activa.fitness_/" target="_blank" class="fa-brands fa-instagram" title="Instagram"></a>
          <a href="https://www.facebook.com/profile.php?id=100077260825797#" target="_blank" class="fa-brands fa-facebook" title="Facebook""></a>
        </section>
      </div>
    </div>
  </div>


</footer>
