<header>
  <div id="header-container">

    <!-- Línea superior: Logo a la izquierda, Carrito a la derecha -->
    <div id="top-bar">
      <div id="logo-container">
        <a href="/">
          <img src="/images/logo.png" alt="Logo Activa Fitness" id="logo-img">
        </a>
      </div>
        
      <div id="login-container">
        <a href="/login" class="admin-access" title="Iniciar Sesión">
          <i class="fa-solid fa-user"></i>
        </a>
      </div>
      <div id="cart-container">
        <a href="/carrito">
          <i class="fa-solid fa-cart-shopping" title="Carrito"></i>
        </a>
      </div>
    </div>

    <!-- Línea inferior: Menú de navegación -->
    <nav id="main-nav">
      <ul class="nav-links">
        <li class="nav-item">
          <a href="/rutinas">
            <i class="fa-solid fa-dumbbell"></i>
            <span>Rutinas</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="/recetas">
            <i class="fa-solid fa-utensils"></i>
            <span>Plan Alimenticio</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="/productos">
            <i class="fa-solid fa-store"></i>
            <span>Productos</span>
          </a>
        </li>
        <li class="nav-item search-wrapper">
          <div class="search-box">
            <input type="text" placeholder="Buscar" id="search-input">
            <i class="fas fa-search search-icon"></i>
          </div>
        </li>
      </ul>
    </nav>

  </div>
</header>
