<header>

  <section id="top-menu"> 
      <div id="user-menu">
        <picture id="pic-logo">
            <a href="/home"><img src="/images/logo.png " alt=""></a>
        </picture>

        <ul class="burger-user">


            <li class="icons-userMenu"><a href="/carrito"> <i class="fa-solid fa-cart-shopping" title="Shopping Cart"></i></a></li>
    </ul>
      </div>
    <div id="search-categories">
      <ul id="category-menus">
        <div class="category-container">
          <li><a href="/rutinas" id="category3"><i class="fa-solid fa-dumbbell"></i><p class="name-category">Rutinas</p></a></li> 
        </div>
        <div class="category-container">
          <li><a href="/recetas" id="category2"><i class="fa-solid fa-utensils"></i><p class="name-category">Plan Alimenticio</p></a></li> 
        </div>
        <div class="category-container">
          <li><a href="#"id="category1"><i class="fa-solid fa-store"></i><p class="name-category">Productos</p></a></li> 
        </div>
          <div class="buscar">
              <input type="text" placeholder="Buscar" required id="search-input"/>
        
              <div class="btn">
                <i class="fas fa-search icon"></i>
              </div>
            </div>
      </ul>
  </div>
  </section>
  <picture id="banner-image">
    <img src="/images/banner-jp.jpg" alt="">
  </picture>
  </header>